.education {
  padding: 16px 32px 32px 16px;
  flex: auto;
  & > * {
    margin-bottom: 32px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .title {
    margin-bottom: 14px;
    margin-top: 4px;
    font-size: 17px;
    font-weight: 600;
  }
  .dot {
    display: list-item;
    margin-left: 27px;
  }
}
